.navbar {
  background-color: #1976D2;
  color: #fff;
  padding: 10px 0;
} 

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1976D2; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1976D2; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1976D2; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.contact-button:hover {
  background-color: white; 
  color: black;
}
.brand:hover {
  color: black; 
  background-color: white;
}
.nav-item:hover {
  color: black;
  background-color: white;
}
.line1{
  margin-top: 5px;
}
/* Updated Styles for the form page */
body {
    background-image: url("Assests/Images/TourBakgroundpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
  }
  
  .schedule-tour-form {
    padding: 50px 0;
  }
  
  .schedule-tour-form .container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    border-radius: 10px;
  }
  
  .schedule-tour-form h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .schedule-tour-form p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .schedule-tour-form form {
    margin-top: 20px;
  }
  
  .schedule-tour-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Increased bottom margin */
  }
  
  .schedule-tour-form input[type="text"],
  .schedule-tour-form input[type="email"],
  .schedule-tour-form input[type="tel"],
  .schedule-tour-form input[type="date"] {
    width: 45%; /* Set width to 45% */
    padding: 10px;
    margin-bottom: 15px; /* Increased bottom margin */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .schedule-tour-form textarea {
    width: 90%;
    height: 55px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: medium;
  }
  .schedule-tour-form button {
    background-color: #1976D2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .schedule-tour-form button:hover {
    background-color: #1565C0;
  }
